* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.container{
  width:500px;
  /* display:flex; */
  border: 1px solid rgb(216, 216, 216);
  border-radius:20px;
  margin:5% auto;
  /* background-color: #cdd; */
}
.header_form{
  height: 60px;
  /* background-color: rgb(178, 252, 227); */
  line-height: 60px;
  text-align:center;
}
.header_back{
  margin-left:10px;
  text-align:left;
  float:left;
}
h4{
  width:150px;
  height:40px;
  text-align:center;
  margin-left:35%;
}
.form_container{
  width:500px;
  padding:30px 30px 20px 30px;
}
.header_title{
  height: 60px;
  /* background-color: rgb(178, 219, 252); */
}
.form_input{
  padding:5px 5px 5px 10px;
  border: 1px solid #000;
  border-radius:10px;
}
#form_input_number{
  padding:15px 15px 5px 10px;
  border: 1px solid #000;
  border-radius:10px;
  margin-bottom:10px;
}

.form_input input,select{
  width:95%;
  height: 30px;
  outline:none;
  border:none;
  font-size: 16px;
}
.form_input select option{
  width: 450px;
  height:40px;
  outline:none;
  border:none;
  font-size: 16px;
}
.form_input label{
  color:#ccc;
}
.form_text p{
  font-size:12px;
}
.form_btn input{
  width:100%;
  height:40px;
  color: #fff;
  background-color: #f0205e;
  outline:none;
  border:none;
  border-radius:10px;
  margin:10px 0px;
}



.hr_line .line,.container .line{
  width:100%;
  text-align:center;
  border-bottom: 1px solid #ccc;
  margin:10px 0px;
}

/* bottom part signup by using other apps */
.form_social_media{
  width:460px;
  height:auto;
  margin:10px 0px;
}
.form_social_btn{
  width:440px;
  height:60px;
}
span i{
  width:20px;
  height:20px;
  text-align:center;
  line-height:20px;
  background-color:#f0205e;
}
.form_social_btn input{
  width:440px;
  height:40px;
  margin:15px auto;
  outline:none;
  border:none;
  background-color:#fff;
  border:2px solid #ccc;
  border-radius:10px;
}
.form_social_btn input:hover{
  border:2px solid #000;
}


.input_info{
  margin:5px 0px 10px 0px;
  font-size:14px;
}

.app-wrapper{
  background: #fff;
  box-shadow: inset 2px 2px 5px 5px #eceff5,
              3px 3px 4px 3px #e4f6fc;
  min-width:350px;
  min-height:500px;
  padding: 10px;
  box-sizing: border-box;
  border-radius:5px;
}
.title{
  color: #5b7ff7;
  text-align:center;
  margin:20px 0px 20px 0px;
}
.name,.email,.password,.confirmpassword,.terms{
  margin:20px;
  color:#969292;
  font-size:16px;
}
.terms{
  margin-bottom: 30px;
}
.input{
  height:32px;
  font-size:14px;
  outline:none;
  width:100%;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid #000;
  border-left-style: none;
}
.inputcheck{
  height:32px;
  font-size:14px;
  outline:none;
}
.error{
  color: #ff0000;
}
.submit{
  display:flex;
  text-transform:uppercase;
  font-size:16px;
  border-radius:25px;
  color:white;
  padding:10px 30px;
  background: #5ab3b3;
  box-shadow: 3px 3px 4px 3px #bbbbbb;
  outline: 1px solid transparent;
  border:none;
  margin:auto;
  transition: all 0.1s;
}
button:active{
  transform: translateY(2px);
}
.form-success{
  display: flex;
  justify-content: center;
  margin-top:250px;
  min-width:370px;
  color:#f80759;
}